body
{
	margin: 0;
	height: 100%;
}

.custom-bg
{
	background:#f37084!important;
	
}

.text-color
{
	color:#030e12;
}

.admin .card{
	border: 1px solid #f37084;
}

.card-columns:hover{
	background:cover;
	cursor:pointer;
}

.card:hover{
	background:cover;
	cursor:pointer;
}

.list-group-item-action active
{
	background:#f37084!important;
	border-color:#f37084!important;
}

.mid-align:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em;
    
 }
 
 .non-underline-link{
   text-decoration: none !important;
}

.bcontent {
            margin-top: 10px;
        }
        
        .modal-size {
    max-width: 80% !important;
}

        
